body{
    background-color: rgb(56, 4, 4);
    
}





h1{
    color:rgb(254, 1, 1);
}
h2{
    color:rgb(255, 58, 58)
}
h3{
    color: rgb(255, 109, 109);
}
h4{
    color: rgb(255, 130, 130)
}
h5{
    color: rgb(255, 159, 159)
}
h6{
    color: rgb(254, 204, 204)
}


